@charset "utf-8";
 /* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family: "Noto Serif JP","Noto Serif";
    color:#282F35;
    line-height: 1;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
img{
    max-width: 100%;
}
.wrapper{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.big-bg{
    background-size: cover;
}
ul{
    list-style: none;
}
/* top部分 */
#top{
    background-image: url(../img/fv-bgi_01@2x.jpg);
    height: 750px;
}
.page-header{
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}
.top-title{
    font-size: 1.625rem;
    font-weight: lighter;
}
.main-nav{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 7px;
    list-style: none;
    color:#FFFFFF;
}
.nav__item{
    margin-left: 36px;
}
.top-content{
    margin-top: 430px;
}
.page-title{
    font-size: 4.375rem;
    color: #FFFFFF;
    margin-bottom: 35px;
}
.page-sub-title{
    font-size: 2.5rem;
    color: #FFFFFF;
    padding-left: 5rem;
}
/* concept部分 */
.concept-content{
    height: 716px;
    margin:118px 100px 25px 100px;
}
.content-title{
    display: flex;
    align-items: center;
    font-size: 3.75rem;
    font-weight: lighter;
}
.content-title::after{
    content: '';
    flex-grow: 0.15;
    height: 3px;
    width: 100px;
    background:#282F35;
    margin-left: 34px;
}
.concept-content h3{
    text-align: center;
    margin-top: 70px;
    font-size: 1.875rem;
    line-height: 3rem;
}
.media{
    display: flex;
    align-items: center;
    margin-top:60px;
}
.media-body{
    flex: 0 1 36.6666%;
    margin-right: 10%;
}
.media-text{
    line-height: 1.875rem;
}
.media-img__wrapper{
    flex: 1;
}
.media-img{
    width: 440px;
    height: 220px;
    object-fit: cover;
}
.transparent{
    font-size: 5.625rem;
    font-weight: bolder;
    color: rgba(23,23,23,0.05);
    text-align: right;
    margin-top: 90px;
}
/* worksの部分 */
#works{
    background-image: url(../img/fv-bgi_02@2x.jpg);
    background-color: rgb(40,47,53);
    background-blend-mode: soft-light;
    width:1440px;
    height: 980px;
    object-fit: cover;
}
.content-title-right{
    justify-content: flex-end;
    padding-top: 80px;
    color: #FFFFFF;
}
.content-title-right::after{
    background: #FFFFFF;
}
.cards{
    display: flex;
    margin: 0 120px 0 120px;
}
.card{
    justify-content: space-around;
    margin-right: 20px;
}
.card__img-wrapper{
    position: relative;
    padding-top: 80px;
}
.card__body{
    padding:25px 20px 25px 20px;
    background-color:#FFFFFF;
    height: 130px;
}
.card__text{
    line-height: 1.75rem;
}
.works-content{
    text-align: center;
}
.btn{
    display: inline-block;
    width: 235px;
    max-width: 100%;
    padding:20px 70px;
    font-size: 1rem;
    font-weight: bolder;
    color:rgba(23,23,23);
    background-color: rgb(247,212,63);
    margin-top: 80px;
    border-radius: 40px;
}
.transparent__left{
    text-align: left;
    color:rgba(225,225,225,0.16)
}



/* serviceの部分 */



/* contactの部分 */



/* footer部分 */
